name: Build & Deploy Hono API (Bun)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Log in to GitHub Container Registry
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # Build Docker image
      - name: Build Docker image
        run: docker build -t ghcr.io/${GITHUB_REPOSITORY@L}/ahmetalmaz-api:latest .

      # Push Docker image
      - name: Push Docker image
        run: docker push ghcr.io/${GITHUB_REPOSITORY@L}/ahmetalmaz-api:latest
